# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
.env/

# Python dependency folders
*.egg-info/
dist/
build/

# Flask / Python dotenv files
*.env

# IDE / editor folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.sqlite3

# Pip cache
pip-log.txt
