# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db
*.log
*.pot
*.pyc
*.pyd
*.swp
*.egg-info/
dist/
build/

# Virtual environments
venv/
ENV/
env/
.env
.env.*  # in case you have multiple environment files

# Flask / Django / other local configs
instance/
*.sqlite3
*.coverage

# VS Code
.vscode/

# Mac OS
.DS_Store

# Node / React
node_modules/
npm-debug.log*
yarn-error.log*
build/
.env.local
.env.development.local
.env.test.local
.env.production.local

# JetBrains IDEs
.idea/
*.iml
